# Binarios y temporales
*.exe
movimientos_contables_mid*
main
.scannerwork/
*.tmp

# IDEs
.vscode

# Variables de Entorno
*.env
!template.env

# Swagger
swagger/**
!swagger/swagger.json
!swagger/swagger.yml
